.inputSelect{
  display: block;
  width: 100%;
  margin: .3rem 0;
  padding: .3rem .5rem;
  border-radius: 4px;
  color: #777;
  font-weight: normal;
  border: 1px solid #333;
  background-color:white;
}